.hero {
  background-image: url("/images/desktop/image-hero.jpg");
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 2rem 5.125rem;

  &__text {
    display: flex;
    width: 326px;
    height: auto;
    border: 1px solid $white;
    padding: 21px 25px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
  }
}
