.hero {
  position: relative;
  height: 50vh;
  width: 100%;
  padding: 2rem 5.125rem;
  background-image: url("/images/desktop/image-hero.jpg");
  background-size: cover;
  background-position: top center;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
  }

  .header {
    position: relative;
  }

  &__text {
    position: absolute;
    margin-top: 5rem;
    width: 500px;
    height: 225px;
    border: 1px solid $white;
    overflow: hidden;

    h1 {
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
      padding: 21px 30px;
      margin: auto;
    }
  }
}
